.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */

.remove-div {
  display: flex;
  justify-content: flex-end;
}

.remove-div button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #0b69ff;
  font-weight: bold;
}
.order-total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.order-total .total-order-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.order-total .total-order-details h1 {
  font-size: 22px;
}
.order-total .total-order-details h1,
.order-total .total-order-details p {
  color: #616e7c;
  padding: 0;
  margin: 0;
}

.order-total .total-order-details h1 span {
  color: #171f46;
}

.order-total .total-order-details p {
  font-size: 12px;
  font-weight: 500;
}

.order-total .total-order-details button {
  padding: 7px 0px;
  cursor: pointer;
  background-color: #0b69ff;
  border: none;
  color: #ffffff;
  border-radius: 3px;
}
